USE [master]
GO
/****** Object:  Database [To-Do-DB]    Script Date: 8/10/2021 8:44:14 PM ******/
CREATE DATABASE [To-Do-DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'To-Do-DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\To-Do-DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'To-Do-DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\To-Do-DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [To-Do-DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [To-Do-DB]
GO
/****** Object:  Table [dbo].[Kategorija]    Script Date: 8/10/2021 8:44:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategorija](
	[KategorijaID] [int] IDENTITY(1,1) NOT NULL,
	[NazivKat] [nvarchar](30) NULL,
	[ObavezaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KategorijaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Obaveze]    Script Date: 8/10/2021 8:44:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obaveze](
	[ObavezaID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](30) NULL,
	[Opis] [nvarchar](30) NULL,
	[dat_izvrsenja] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ObavezaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kategorija]  WITH CHECK ADD FOREIGN KEY([ObavezaID])
REFERENCES [dbo].[Obaveze] ([ObavezaID])
GO
USE [master]
GO
