USE [master]
GO
/****** Object:  Database [ToDoList-DB]    Script Date: 9/9/2021 7:36:46 PM ******/
CREATE DATABASE [ToDoList-DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDoList-DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ToDoList-DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToDoList-DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ToDoList-DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDoList-DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDoList-DB]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 9/9/2021 7:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[taskId] [int] IDENTITY(1,1) NOT NULL,
	[dueDate] [nvarchar](50) NULL,
	[task] [nvarchar](50) NULL,
	[description] [nvarchar](50) NULL,
	[category] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[taskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
